.deps
.libs
autom4te.cache
m4
SpiceXPI/dist
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
libtool
ltmain.sh
missing
Makefile
Makefile.in
nsISpicec.h
nsISpicec.xpt
SpiceXPI.xpi
spice_xpi_generator
stamp-h1
*.o
*.lo
*.la
xpidl*
*.swp
*.*~
