1 VERSIONINFO
 FILEVERSION 2,8,0,0
 PRODUCTVERSION 2,8,0,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Fedora"
            VALUE "FileDescription", "Spice XPI Plugin"
            VALUE "FileVersion", "2, 8, 0, 0"
            VALUE "InternalName", "SpiceXPI"
            VALUE "LegalCopyright", "Fedora"
            VALUE "OriginalFilename", "npSpiceConsole.dll"
            VALUE "ProductName", "Spice XPI"
            VALUE "ProductVersion", "2, 8, 0, 0"
            VALUE "MIMEType", "application/x-spice"
            VALUE "FileExtents", "qsc"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x809, 1200
    END
END
